@font-face {
    font-family: Library3AM;
    src: url(Library\ 3\ am.otf);
}

body {
    overflow: hidden;
}

.animate__animated.animate__backInRight, .animate__animated.animate__backInUp {
    --animate-duration: 2s;
}

#rankBox {
    font-family: Library3AM;
    border: 2px solid black;
    max-width: max-content;
    max-height: max-content;
    border-radius: 0.5em;
    padding: 10px;
    background-color: #262626;
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 3em;
}

#disUserName {
    color: #e23c6b;
}

#disRank {
    text-align: right;
    color: #18a2ee;
}

p {
    padding: 0px;
    margin: 0px;
}

#followerGoal {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    background-color: #262626;
    border-radius: 1em;
    width: 600px;
    height: 80px;
    position: absolute;
    overflow: hidden;
    bottom: 1em;
    left: calc(50% - 300px);
}

#goalProgress {
    z-index: -1;
    position: absolute;
    height: 100%;
    background-color: #18a2ee;
}


#heart {
    flex: 1;
    display: inline-block;
    height: 90%;
    object-fit: contain;
    margin-left: 3px;
    vertical-align: middle;
}

#goalText {
    flex: 4;
    display: inline-block;
    font-size: 36px;
    font-family: Library3AM;
    color: #e23c6b;
}